@charset "utf-8";

/* reset.css */
* { margin:0; padding:0; }
li { list-style:none; }
img { vertical-align:middle; border:none; }
address { font-style:normal; }
a { color:#222328; text-decoration:none; }

body { font-size:25px; font-family:"HY목각파임B" , "굴림"; color:#000; background-color:#f4f4df; }
#wrapper { width:1200px; margin:0 auto; background-color:#f4f4df; position:relative; }
.all { font:bold 30px "Nanum Brush Script"; letter-spacing:5px; }

/* popUp */
#popUp { z-index:9999; position:absolute; width:450px; height:520px; left:50%; top:10%; margin-left:-225px; border:3px solid skyblue; box-shadow:2px 2px 2px #ddd; background:#000 url(../images/popbg.jpg); font:bold 30px "Nanum Brush Script"; }

	.popBack { width:390px; height:455px; background-color:#fff; opacity:0.3; position:absolute; left:30px; top:20px; }
	#popUp span { display:block; text-align:center; margin-top:35px; }
	#popUp ul { margin-left:50px; }
		#popUp ul li { margin-top:20px; position:relative; }
			#popUp ul li img { margin-right:70px; }
			#popUp ul li a { display:inline-block; text-align:center; position:absolute; }
			#popUp ul li:nth-of-type(1) a { top:20px; }
	
	.colorOne { color:#ba612b; }
	.colorTwo { color:red; }
	.colorThree { color:#966414; }
	
	.popBottom { font-size:15px; position:absolute; right:0; bottom:2px; z-index:9999999999; }
		.square { border:1px solid #fff; width:13px; height:13px; position:absolute; left:-30px; bottom:2px; border-radius:3px; cursor:pointer; }
		.popBottom a { color:#fff; letter-spacing:3px; }
	
	
	
	

/* header */
#header { width:1200px; height:185px; background-color:rgba(50,65,88,0.5); position:fixed; top:0; z-index:99999; }
	#header img { float:left; margin:25px; }
	.gnb { width:780px; height:60px; margin-top:60px; margin-left:320px; line-height:60px; font-size:25px; }
		.gnb>li { float:left; margin-left:40px; }
		.gnb>li:hover { text-decoration:underline; }
		.gnb a { color:#fff; }
		
		.mainMenu { position:relative; }
			.subMenu { width:160px; height:210px; position:absolute; left:0; line-height:52px; background-color:#9ba2ac; display:none; text-align:center; }
				.subMenu li:hover a { text-decoration:underline; }

/* top*/
#top { position:relative; }
	.season img:nth-of-type(1) { display:none; }
	.season img:nth-of-type(2) { display:none; }
	.season img:nth-of-type(3) { display:none; }

	.topImg { width:150px; height:150px; border-radius:50%; background-color:#000; opacity:0.5; position:absolute; bottom:75px; cursor:pointer; }
	#top span { color:#fff; position:absolute; bottom:135px; cursor:pointer; }
	#top span:nth-of-type(1) { left:260px; }
	#top span:nth-of-type(2) { left:470px; }
	#top span:nth-of-type(3) { left:690px; }
	#top span:nth-of-type(4) { left:910px; color:blue; }
	.one { left:200px; }
	.two { left:420px; }
	.three { left:640px; }
	.four { left:860px; background-color:#fff; }
	.spring { position:absolute; left:250px; bottom:130px; display:none; }
	.summer { position:absolute; left:520px; bottom:180px; display:none; }
	.fall { position:absolute; left:730px; bottom:150px; display:none; }
	.winter { position:absolute; left:930px; bottom:150px; }
	
/* sideMenu*/
#sideMenu { width:100px; height:240px; color:#fff; background-color:#638176; border-radius:10px; padding:10px; box-sizing:border-box; z-index:999; position:absolute; right:-100px; margin-top:100px; transition:all 1; }
	#sideMenu i { display:block; width:80px; height:80px; font-size:60px; text-align:center; line-height:80px; cursor:pointer; }
	#sideMenu span { margin-left:13px; cursor:pointer; }
	#sideMenu span:hover { text-decoration:underline; }
	.add { text-decoration:underline; }

/* room */
#room { width:1200px; height:945px; position:relative; }
	#room span { height:105px; display:inline-block; line-height:105px; margin-left:30px; color:#4aa150; font-size:40px; }
	#room>a { float:right; color:#867e7e; font-size:20px; margin-right:30px; line-height:105px; }
	#back { height:840px; background-color:#cbc7af; position:relative; }
		.rooms { position:absolute; }
		.roomOne { left:110px; top:50px; width:270px; height:305px; overflow:hidden; }
			.roomOne ul { }
				.roomOne ul li { position:absolute; left:0; }
		.roomTwo { right:300px; top:50px; width:270px; height:305px; overflow:hidden; }
			.roomTwo ul { }
				.roomTwo ul li { position:absolute; left:0; }
		.roomThree { left:310px; top:460px; width:270px; height:304px; overflow:hidden; }
			.roomThree ul { }
				.roomThree ul li { position:absolute; left:0; }
		.roomFour { right:100px; bottom:80px; width:270px; height:296px; overflow:hidden; }
			.roomFour ul { }
				.roomFour ul li { position:absolute; left:0; }
		
		.circle { z-index:999; cursor:pointer; }
		
		.circleOne { position:absolute; left:260px; top:370px; width:114px; height:26px; }
		
		.circleTwo { position:absolute; right:300px; top:370px; }
		
		.circleThree { position:absolute; left:460px; bottom:35px;  }
		
		.circleFour { position:absolute; right:100px; bottom:35px; }
		
/* special */
#special { width:1200px; height:600px;  }
	#special span { display:block; font-size:40px; color:#d59277; margin:35px; }
	.category { width:220px; height:530px; background-color:#fff; opacity:0.5; position:relative; text-align:center; }
		.category li { margin-top:120px; }
	.categoryOne { float:left; margin-left:40px;  }
		.categoryOne li:nth-of-type(1) a { color:#6d5e40; font-weight:bold;}
	.categoryTwo { float:left; margin-left:350px; }
		.categoryTwo li:nth-of-type(1) a { color:#02c3e2; font-weight:bold; }
	
	
	.oneImg { position:absolute; left:260px; height:530px; width:300px; height:530px; overflow:hidden; }
	.oneImg img:nth-of-type(1) { background-position:right bottom; }
	.oneImg img:nth-of-type(2) { display:none; }
	.oneImg img:nth-of-type(3) { display:none; }
	
	.twoImg { position:absolute; left:830px; height:530px; width:300px; height:530px; overflow:hidden; }
	.twoImg img:nth-of-type(2) { display:none; }
	.twoImg img:nth-of-type(3) { display:none; }

/* map */
#map { clear:both; width:1200px; height:1050px; }
	#map>span { display:block; height:100px; padding:35px; box-sizing:border-box; font-size:40px; }
	#mapp { margin-left:40px; }
	#map b { color:#6e4de9; }
	
	.road { font-size:15px; }
		.road span { display:block; margin-top:20px; }
	.roadOne { float:left; width:520px; height:360px; margin-left:40px; }
		.roadOne span:nth-of-type(1) { margin-top:40px; }
	.roadTwo { float:right; margin-right:100px; }
		.roadTwo span:nth-child(1) { margin-top:40px; }

/* footer */
#footer { width:1200px; height:355px; position:relative; }
	.backG { position:absolute; width:1200px; height:355px; background-color:#bcbcbc; opacity:0.5; }
	#footer img { position:absolute; left:45px; top:14px; }
	#footer b { color:#8a4e13; }
	
	.footOne { position:absolute; left:45px; top:161px;  }
	.footTwo { position:absolute; right:135px; top:35px; }
	
